# Editor backup files:
*~
.*.swp

*.pyc

# build directories
build*/

# OS/X File system droppings
*.DS_Store

# Sublime Test temp files
._*

# Build-system artefacts
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
generated/
GPSTKConfig.cmake
GPSTKConfigVersion.cmake
Makefile
