# Editor backup files:
*~
.*.swp
.idea

# Python compiled byte-code
*.pyc

# build directories
build*/
cmake-build-debug/
gpstk.egg-info/

# OS/X File system droppings
*.DS_Store

# Sublime Test temp files
._*

# Coverage file results
gcovr
