# GPSTk source artefacts to be ignored by Git

# Editor backup files:
*~
.*.swp


# CMake artefacts:
cmake_install.cmake
CMakeCache.txt
CMakeFiles
CPackConfig.cmake
CTestTestfile.cmake

dev/Makefile
dev/core/Makefile
dev/examples/Makefile
dev/apps/Makefile
dev/core/apps/Makefile
dev/ext/Makefile
dev/ext/apps/Makefile
dev/ext/apps/checktools/Makefile
dev/ext/apps/clocktools/Makefile
dev/ext/apps/converters/Makefile
dev/ext/apps/differential/Makefile
dev/ext/apps/difftools/Makefile
dev/ext/apps/filetools/Makefile
dev/ext/apps/geomatics/Makefile
dev/ext/apps/geomatics/cycleslips/Makefile
dev/ext/apps/geomatics/JPLeph/Makefile
dev/ext/apps/geomatics/kalman/Makefile
dev/ext/apps/geomatics/relposition/Makefile
dev/ext/apps/geomatics/robust/Makefile
dev/ext/apps/mergetools/Makefile
dev/ext/apps/multipath/Makefile
dev/ext/apps/positioning/Makefile
dev/ext/apps/rfw/Makefile
dev/ext/apps/Rinextools/Makefile
dev/ext/apps/swrx/Makefile
dev/ext/apps/time/Makefile
dev/tests/Makefile


# Executables:
dev/examples/example[0-9]
dev/examples/example[0-9][0-9]
dev/ext/apps/checktools/rmwcheck
dev/ext/apps/checktools/rnwcheck
dev/ext/apps/checktools/rowcheck
dev/ext/apps/clocktools/rmoutlier
dev/ext/apps/converters/novaRinex
dev/ext/apps/differential/vecsol
dev/ext/apps/difftools/rmwdiff
dev/ext/apps/difftools/rnwdiff
dev/ext/apps/difftools/rowdiff
dev/ext/apps/filetools/bc2sp3
dev/ext/apps/filetools/glodump
dev/ext/apps/filetools/rinexthin
dev/ext/apps/filetools/sp3version
dev/ext/apps/geomatics/JPLeph/convertSSEph
dev/ext/apps/geomatics/JPLeph/testSSEph
dev/ext/apps/geomatics/cycleslips/DiscFix
dev/ext/apps/geomatics/kalman/mergeSRI
dev/ext/apps/geomatics/kalman/tkalm
dev/ext/apps/geomatics/relposition/DDBase
dev/ext/apps/geomatics/robust/lsfilt
dev/ext/apps/geomatics/robust/rstats
dev/ext/apps/mergetools/mergeRinMet
dev/ext/apps/mergetools/mergeRinNav
dev/ext/apps/mergetools/mergeRinObs
dev/ext/apps/multipath/mpsolve
dev/ext/apps/positioning/PRSolve
dev/ext/apps/positioning/posInterp
dev/ext/apps/positioning/poscvt
dev/ext/apps/rfw/rfw
dev/ext/apps/Rinextools/RinDump
dev/ext/apps/Rinextools/RinEdit
dev/ext/apps/Rinextools/RinNav
dev/ext/apps/Rinextools/RinSum
dev/ext/apps/swrx/RX
dev/ext/apps/swrx/codeDump
dev/ext/apps/swrx/corltr
dev/ext/apps/swrx/gpsSim
dev/ext/apps/swrx/iqdump
dev/ext/apps/swrx/position
dev/ext/apps/swrx/simpleNav
dev/ext/apps/swrx/tracker
dev/ext/apps/swrx/trackerMT
dev/ext/apps/time/calgps
dev/ext/apps/time/timeconvert
