# Default owners
* @kuck @johnk

# CODEOWNERS
CODEOWNERS @kuck @rain

# ----------------
# Conda/RPM/Distro
# ----------------

conda_recipe/ @dbarber @kuck
conda_recipe_py36/ @dbarber @kuck
debian/ @dbarber @kuck
rpm_files/ @dbarber @kuck

# -----------
# Python/Swig
# -----------

swig/ @kuck @malik

# -------------
# Documentation
# -------------

docs/ @johnk @rain
ref/papers/ @renfrob @rain @kuck
ref/usersguide/ @johnk @renfrob @rain

# ---------------------
# Major module sections
# ---------------------

# Core apps
core/apps/ @johnk @btolman
core/apps/positioning/ @btolman @renfrob
core/apps/Rinextools/ @btolman @renfrob

# Core lib
core/lib/ @johnk
core/lib/AppFrame/ @johnk @anthony
core/lib/CommandLine/CommandLine.cpp @anthony @btolman @johnk
core/lib/CommandLine/CommandLine.hpp @anthony @btolman @johnk
core/lib/CommandLine/ @johnk @anthony
core/lib/FileDirProc/ @johnk @anthony
core/lib/FileHandling/ @anthony @johnk
core/lib/Geomatics/ @btolman @johnk
core/lib/GNSSCore/ @anthony @johnk
core/lib/GNSSEph/ @renfrob @johnk @anthony
core/lib/Math/ @anthony @btolman
core/lib/NavFilter/ @johnk @anthony @renfrob
core/lib/ORD/ @kuck @rcathriner
core/lib/PosSol/ @btolman @renfrob
core/lib/RefTime/ @btolman @renfrob
core/lib/TestFramework/ @anthony @johnk
core/lib/TimeHandling/ @anthony @renfrob @johnk
core/lib/Utilities/ @johnk @anthony

# Core tests
core/tests/ @johnk @anthony @renfrob

# Ext
ext/ @johnk @dbarber
ext/apps/filetools/ @btolman @renfrob
ext/apps/geomatics/ @btolman
ext/apps/misc/ @renfrob @johnk
ext/apps/rfw/ @johnk @renfrob
ext/apps/Rinextools/ @btolman @renfrob
ext/lib/Geomatics/ @btolman @renfrob
ext/lib/GNSSEph/ @renfrob @rcathriner
ext/lib/PosSol/ @btolman @johnk

# Other
data/ @dbarber @kuck
deprecated/ @dbarber @kuck
examples/ @johnk @btolman @renfrob
