prune CMakeFiles
prune doc
prune examples
prune lib
prune oldtests
prune tests/

include src/*.c
include src/*.cpp
include src/*.h
include src/*.hpp
include apps/bindings/swig/scripts/*.py
include apps/bindings_installer/gpstk/gpstk_pylibPYTHON_wrap.h