     2.10           NAVIGATION                              RINEX VERSION / TYPE
rtAshtech/GPSTk     Dataflow Processing 03/09/2006 00:00:27 PGM / RUN BY / DATE
                                                            END OF HEADER
