#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

# remove python bindings for package builds.
PYTHON_FLAG="OFF"
BUILD_FOR_PACKAGE_SWITCH_FLAG="OFF"
PYTHON_EXE_PARAM=
PYTHON_INSTALL_PREFIX_PARAM=

# add python bindings for package builds using profile pkg_python
ifneq ($(filter pkg_python,$(DEB_BUILD_PROFILES)), )
    PYTHON_FLAG="ON"
    BUILD_FOR_PACKAGE_SWITCH_FLAG="ON"
    PYTHON_EXE_PARAM="-DPYTHON_EXECUTABLE=/usr/bin/python"
    PYTHON_INSTALL_PREFIX_PARAM="-DPYTHON_INSTALL_PREFIX=$(CURDIR)/debian/python-gpstk"
endif

# main packaging script based on dh7 syntax
%:
	dh $@  --parallel --with python2

override_dh_auto_configure:
	debian/check_versions_match.sh
	dh_auto_configure -- \
	 -DBUILD_EXT=ON \
	 -DBUILD_PYTHON=$(PYTHON_FLAG) \
	 $(PYTHON_EXE_PARAM) \
	 $(PYTHON_INSTALL_PREFIX_PARAM) \
	 -DBUILD_FOR_PACKAGE_SWITCH=$(BUILD_FOR_PACKAGE_SWITCH_FLAG) \
	 -DUSE_RPATH=OFF \
	 -DCMAKE_BUILD_TYPE=relwithdebinfo

# The python package tries to install files to user local.  Allow it for now.
override_dh_usrlocal:

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip --dbg-package=$(shell grep -o "Package: libgpstk[0-9.]\+-dbg" debian/control | cut -d " " -f 2)

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info